In [7]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import datetime

In [8]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [26]:
def last_day_of_month_in_timestamp(month):
    next_month = datetime.date(2020, month, 1).replace(day=28) + datetime.timedelta(days=4)
    date = (next_month - datetime.timedelta(days=next_month.day))
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d")
    return int(datetime.datetime.timestamp(element))

def first_day_of_the_month_in_timestamp(month):
    date = datetime.datetime(2020, month, 1)
    element = datetime.datetime.strptime(str(date),"%Y-%m-%d %H:%M:%S")
    return int(datetime.datetime.timestamp(element))

In [96]:
def stock_dataframes(stock):
    table_list = []
    for month in range(1, 9):
        start_date = first_day_of_the_month_in_timestamp(month)
        end_date = last_day_of_month_in_timestamp(month)

        #crude_oil = f'https://finance.yahoo.com/quote/CL%3DF/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'
        stock_data = f'https://finance.yahoo.com/quote/{stock}/history?period1={start_date}&period2={end_date}&interval=1d&filter=history&frequency=1d'

        tables = pd.read_html(stock_data)
        table_list.append(tables)
        
    return table_list

In [102]:
# In order to get the data from other stock all you have to change is the value of the function "stock_dataframes()"

gold = stock_dataframes("GC%3DF")

jan_gold_df = gold[0][0]
feb_gold_df = gold[1][0]
mar_gold_df = gold[2][0]
apr_gold_df = gold[3][0]
may_gold_df = gold[4][0]
jun_gold_df = gold[5][0]
jul_gold_df = gold[6][0]
aug_gold_df = gold[7][0]

In [107]:

gold_df = [aug_gold_df, jul_gold_df, jun_gold_df, may_gold_df, apr_gold_df, mar_gold_df, feb_gold_df, jan_gold_df]
gold_stock_df = pd.concat(gold_df)
gold_stock_df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 12, 2020",1895.30,1961.00,1871.60,1929.30,1929.30,283305128
1,"Aug 11, 2020",2029.20,2030.50,1904.00,1917.40,1917.40,274164645
2,"Aug 10, 2020",2039.30,2060.80,2017.50,2038.80,2038.80,128040100
3,"Aug 09, 2020",2044.80,2047.50,2026.40,2037.10,2037.10,860398
4,"Aug 07, 2020",2040.10,2055.00,2009.60,2010.10,2010.10,294
...,...,...,...,...,...,...,...
21,"Jan 06, 2020",1580.00,1580.00,1560.40,1566.20,1566.20,416
22,"Jan 05, 2020",1562.70,1590.90,1562.30,1571.30,1571.30,1601769
23,"Jan 03, 2020",1530.10,1552.70,1530.10,1549.20,1549.20,107
24,"Jan 02, 2020",1518.10,1528.70,1518.00,1524.50,1524.50,214
25,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...